@layer components {
  .icon {
    @apply shrink-0;
    user-select: none;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: currentColor;
    -webkit-touch-callout: none;
    mask-image: var(--svg);
    mask-position: center;
    mask-repeat: no-repeat;
    block-size: var(--icon-size, 100%);
    inline-size: var(--icon-size, 100%);
    mask-size: var(--icon-size, 100%);
  }

  img.icon {
    background: none;
  }

  .icon-img {
    background-color: transparent;
    mask-image: none;
    background-image: var(--svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--icon-size, 100%);
  }

  /* Images */
  .icon-logo { --svg: url("/images/logo.svg") };
  .dark {
    .icon-logo { --svg: url("/images/logo-white.svg") };
  }

  /* Icons */
  .icon-academic-cap { --svg: url("/images/icons/academic-cap.svg") };
  .icon-adjustments-horizontal { --svg: url("/images/icons/adjustments-horizontal.svg") };
  .icon-adjustments-vertical { --svg: url("/images/icons/adjustments-vertical.svg") };
  .icon-archive-box-arrow-down { --svg: url("/images/icons/archive-box-arrow-down.svg") };
  .icon-archive-box-x-mark { --svg: url("/images/icons/archive-box-x-mark.svg") };
  .icon-archive-box { --svg: url("/images/icons/archive-box.svg") };
  .icon-arrow-down-circle { --svg: url("/images/icons/arrow-down-circle.svg") };
  .icon-arrow-down-left { --svg: url("/images/icons/arrow-down-left.svg") };
  .icon-arrow-down-on-square-stack { --svg: url("/images/icons/arrow-down-on-square-stack.svg") };
  .icon-arrow-down-on-square { --svg: url("/images/icons/arrow-down-on-square.svg") };
  .icon-arrow-down-right { --svg: url("/images/icons/arrow-down-right.svg") };
  .icon-arrow-down-tray { --svg: url("/images/icons/arrow-down-tray.svg") };
  .icon-arrow-down { --svg: url("/images/icons/arrow-down.svg") };
  .icon-arrow-left-circle { --svg: url("/images/icons/arrow-left-circle.svg") };
  .icon-arrow-left-end-on-rectangle { --svg: url("/images/icons/arrow-left-end-on-rectangle.svg") };
  .icon-arrow-left-on-rectangle { --svg: url("/images/icons/arrow-left-on-rectangle.svg") };
  .icon-arrow-left-start-on-rectangle { --svg: url("/images/icons/arrow-left-start-on-rectangle.svg") };
  .icon-arrow-left { --svg: url("/images/icons/arrow-left.svg") };
  .icon-arrow-long-down { --svg: url("/images/icons/arrow-long-down.svg") };
  .icon-arrow-long-left { --svg: url("/images/icons/arrow-long-left.svg") };
  .icon-arrow-long-right { --svg: url("/images/icons/arrow-long-right.svg") };
  .icon-arrow-long-up { --svg: url("/images/icons/arrow-long-up.svg") };
  .icon-arrow-path-rounded-square { --svg: url("/images/icons/arrow-path-rounded-square.svg") };
  .icon-arrow-path { --svg: url("/images/icons/arrow-path.svg") };
  .icon-arrow-right-circle { --svg: url("/images/icons/arrow-right-circle.svg") };
  .icon-arrow-right-end-on-rectangle { --svg: url("/images/icons/arrow-right-end-on-rectangle.svg") };
  .icon-arrow-right-on-rectangle { --svg: url("/images/icons/arrow-right-on-rectangle.svg") };
  .icon-arrow-right-start-on-rectangle { --svg: url("/images/icons/arrow-right-start-on-rectangle.svg") };
  .icon-arrow-right { --svg: url("/images/icons/arrow-right.svg") };
  .icon-arrow-small-down { --svg: url("/images/icons/arrow-small-down.svg") };
  .icon-arrow-small-left { --svg: url("/images/icons/arrow-small-left.svg") };
  .icon-arrow-small-right { --svg: url("/images/icons/arrow-small-right.svg") };
  .icon-arrow-small-up { --svg: url("/images/icons/arrow-small-up.svg") };
  .icon-arrow-top-right-on-square { --svg: url("/images/icons/arrow-top-right-on-square.svg") };
  .icon-arrow-trending-down { --svg: url("/images/icons/arrow-trending-down.svg") };
  .icon-arrow-trending-up { --svg: url("/images/icons/arrow-trending-up.svg") };
  .icon-arrow-turn-down-left { --svg: url("/images/icons/arrow-turn-down-left.svg") };
  .icon-arrow-turn-down-right { --svg: url("/images/icons/arrow-turn-down-right.svg") };
  .icon-arrow-turn-left-down { --svg: url("/images/icons/arrow-turn-left-down.svg") };
  .icon-arrow-turn-left-up { --svg: url("/images/icons/arrow-turn-left-up.svg") };
  .icon-arrow-turn-right-down { --svg: url("/images/icons/arrow-turn-right-down.svg") };
  .icon-arrow-turn-right-up { --svg: url("/images/icons/arrow-turn-right-up.svg") };
  .icon-arrow-turn-up-left { --svg: url("/images/icons/arrow-turn-up-left.svg") };
  .icon-arrow-turn-up-right { --svg: url("/images/icons/arrow-turn-up-right.svg") };
  .icon-arrow-up-circle { --svg: url("/images/icons/arrow-up-circle.svg") };
  .icon-arrow-up-left { --svg: url("/images/icons/arrow-up-left.svg") };
  .icon-arrow-up-on-square-stack { --svg: url("/images/icons/arrow-up-on-square-stack.svg") };
  .icon-arrow-up-on-square { --svg: url("/images/icons/arrow-up-on-square.svg") };
  .icon-arrow-up-right { --svg: url("/images/icons/arrow-up-right.svg") };
  .icon-arrow-up-tray { --svg: url("/images/icons/arrow-up-tray.svg") };
  .icon-arrow-up { --svg: url("/images/icons/arrow-up.svg") };
  .icon-arrow-uturn-down { --svg: url("/images/icons/arrow-uturn-down.svg") };
  .icon-arrow-uturn-left { --svg: url("/images/icons/arrow-uturn-left.svg") };
  .icon-arrow-uturn-right { --svg: url("/images/icons/arrow-uturn-right.svg") };
  .icon-arrow-uturn-up { --svg: url("/images/icons/arrow-uturn-up.svg") };
  .icon-arrows-pointing-in { --svg: url("/images/icons/arrows-pointing-in.svg") };
  .icon-arrows-pointing-out { --svg: url("/images/icons/arrows-pointing-out.svg") };
  .icon-arrows-right-left { --svg: url("/images/icons/arrows-right-left.svg") };
  .icon-arrows-up-down { --svg: url("/images/icons/arrows-up-down.svg") };
  .icon-at-symbol { --svg: url("/images/icons/at-symbol.svg") };
  .icon-backspace { --svg: url("/images/icons/backspace.svg") };
  .icon-backward { --svg: url("/images/icons/backward.svg") };
  .icon-banknotes { --svg: url("/images/icons/banknotes.svg") };
  .icon-bars-2 { --svg: url("/images/icons/bars-2.svg") };
  .icon-bars-3-bottom-left { --svg: url("/images/icons/bars-3-bottom-left.svg") };
  .icon-bars-3-bottom-right { --svg: url("/images/icons/bars-3-bottom-right.svg") };
  .icon-bars-3-center-left { --svg: url("/images/icons/bars-3-center-left.svg") };
  .icon-bars-3 { --svg: url("/images/icons/bars-3.svg") };
  .icon-bars-4 { --svg: url("/images/icons/bars-4.svg") };
  .icon-bars-arrow-down { --svg: url("/images/icons/bars-arrow-down.svg") };
  .icon-bars-arrow-up { --svg: url("/images/icons/bars-arrow-up.svg") };
  .icon-battery-0 { --svg: url("/images/icons/battery-0.svg") };
  .icon-battery-100 { --svg: url("/images/icons/battery-100.svg") };
  .icon-battery-50 { --svg: url("/images/icons/battery-50.svg") };
  .icon-beaker { --svg: url("/images/icons/beaker.svg") };
  .icon-bell-alert { --svg: url("/images/icons/bell-alert.svg") };
  .icon-bell-slash { --svg: url("/images/icons/bell-slash.svg") };
  .icon-bell-snooze { --svg: url("/images/icons/bell-snooze.svg") };
  .icon-bell { --svg: url("/images/icons/bell.svg") };
  .icon-bold { --svg: url("/images/icons/bold.svg") };
  .icon-bolt-slash { --svg: url("/images/icons/bolt-slash.svg") };
  .icon-bolt { --svg: url("/images/icons/bolt.svg") };
  .icon-book-open { --svg: url("/images/icons/book-open.svg") };
  .icon-bookmark-slash { --svg: url("/images/icons/bookmark-slash.svg") };
  .icon-bookmark-square { --svg: url("/images/icons/bookmark-square.svg") };
  .icon-bookmark { --svg: url("/images/icons/bookmark.svg") };
  .icon-briefcase { --svg: url("/images/icons/briefcase.svg") };
  .icon-bug-ant { --svg: url("/images/icons/bug-ant.svg") };
  .icon-building-library { --svg: url("/images/icons/building-library.svg") };
  .icon-building-office-2 { --svg: url("/images/icons/building-office-2.svg") };
  .icon-building-office { --svg: url("/images/icons/building-office.svg") };
  .icon-building-storefront { --svg: url("/images/icons/building-storefront.svg") };
  .icon-cake { --svg: url("/images/icons/cake.svg") };
  .icon-calculator { --svg: url("/images/icons/calculator.svg") };
  .icon-calendar-date-range { --svg: url("/images/icons/calendar-date-range.svg") };
  .icon-calendar-days { --svg: url("/images/icons/calendar-days.svg") };
  .icon-calendar { --svg: url("/images/icons/calendar.svg") };
  .icon-camera { --svg: url("/images/icons/camera.svg") };
  .icon-chart-bar-square { --svg: url("/images/icons/chart-bar-square.svg") };
  .icon-chart-bar { --svg: url("/images/icons/chart-bar.svg") };
  .icon-chart-pie { --svg: url("/images/icons/chart-pie.svg") };
  .icon-chat-bubble-bottom-center-text { --svg: url("/images/icons/chat-bubble-bottom-center-text.svg") };
  .icon-chat-bubble-bottom-center { --svg: url("/images/icons/chat-bubble-bottom-center.svg") };
  .icon-chat-bubble-left-ellipsis { --svg: url("/images/icons/chat-bubble-left-ellipsis.svg") };
  .icon-chat-bubble-left-right { --svg: url("/images/icons/chat-bubble-left-right.svg") };
  .icon-chat-bubble-left { --svg: url("/images/icons/chat-bubble-left.svg") };
  .icon-chat-bubble-oval-left-ellipsis { --svg: url("/images/icons/chat-bubble-oval-left-ellipsis.svg") };
  .icon-chat-bubble-oval-left { --svg: url("/images/icons/chat-bubble-oval-left.svg") };
  .icon-check-badge { --svg: url("/images/icons/check-badge.svg") };
  .icon-check-circle { --svg: url("/images/icons/check-circle.svg") };
  .icon-check { --svg: url("/images/icons/check.svg") };
  .icon-chevron-double-down { --svg: url("/images/icons/chevron-double-down.svg") };
  .icon-chevron-double-left { --svg: url("/images/icons/chevron-double-left.svg") };
  .icon-chevron-double-right { --svg: url("/images/icons/chevron-double-right.svg") };
  .icon-chevron-double-up { --svg: url("/images/icons/chevron-double-up.svg") };
  .icon-chevron-down { --svg: url("/images/icons/chevron-down.svg") };
  .icon-chevron-left { --svg: url("/images/icons/chevron-left.svg") };
  .icon-chevron-right { --svg: url("/images/icons/chevron-right.svg") };
  .icon-chevron-up-down { --svg: url("/images/icons/chevron-up-down.svg") };
  .icon-chevron-up { --svg: url("/images/icons/chevron-up.svg") };
  .icon-circle-stack { --svg: url("/images/icons/circle-stack.svg") };
  .icon-clipboard-document-check { --svg: url("/images/icons/clipboard-document-check.svg") };
  .icon-clipboard-document-list { --svg: url("/images/icons/clipboard-document-list.svg") };
  .icon-clipboard-document { --svg: url("/images/icons/clipboard-document.svg") };
  .icon-clipboard { --svg: url("/images/icons/clipboard.svg") };
  .icon-clock { --svg: url("/images/icons/clock.svg") };
  .icon-cloud-arrow-down { --svg: url("/images/icons/cloud-arrow-down.svg") };
  .icon-cloud-arrow-up { --svg: url("/images/icons/cloud-arrow-up.svg") };
  .icon-cloud { --svg: url("/images/icons/cloud.svg") };
  .icon-code-bracket-square { --svg: url("/images/icons/code-bracket-square.svg") };
  .icon-code-bracket { --svg: url("/images/icons/code-bracket.svg") };
  .icon-cog-6-tooth { --svg: url("/images/icons/cog-6-tooth.svg") };
  .icon-cog-8-tooth { --svg: url("/images/icons/cog-8-tooth.svg") };
  .icon-cog { --svg: url("/images/icons/cog.svg") };
  .icon-command-line { --svg: url("/images/icons/command-line.svg") };
  .icon-computer-desktop { --svg: url("/images/icons/computer-desktop.svg") };
  .icon-cpu-chip { --svg: url("/images/icons/cpu-chip.svg") };
  .icon-credit-card { --svg: url("/images/icons/credit-card.svg") };
  .icon-cube-transparent { --svg: url("/images/icons/cube-transparent.svg") };
  .icon-cube { --svg: url("/images/icons/cube.svg") };
  .icon-currency-bangladeshi { --svg: url("/images/icons/currency-bangladeshi.svg") };
  .icon-currency-dollar { --svg: url("/images/icons/currency-dollar.svg") };
  .icon-currency-euro { --svg: url("/images/icons/currency-euro.svg") };
  .icon-currency-pound { --svg: url("/images/icons/currency-pound.svg") };
  .icon-currency-rupee { --svg: url("/images/icons/currency-rupee.svg") };
  .icon-currency-yen { --svg: url("/images/icons/currency-yen.svg") };
  .icon-cursor-arrow-rays { --svg: url("/images/icons/cursor-arrow-rays.svg") };
  .icon-cursor-arrow-ripple { --svg: url("/images/icons/cursor-arrow-ripple.svg") };
  .icon-device-phone-mobile { --svg: url("/images/icons/device-phone-mobile.svg") };
  .icon-device-tablet { --svg: url("/images/icons/device-tablet.svg") };
  .icon-divide { --svg: url("/images/icons/divide.svg") };
  .icon-document-arrow-down { --svg: url("/images/icons/document-arrow-down.svg") };
  .icon-document-arrow-up { --svg: url("/images/icons/document-arrow-up.svg") };
  .icon-document-chart-bar { --svg: url("/images/icons/document-chart-bar.svg") };
  .icon-document-check { --svg: url("/images/icons/document-check.svg") };
  .icon-document-currency-bangladeshi { --svg: url("/images/icons/document-currency-bangladeshi.svg") };
  .icon-document-currency-dollar { --svg: url("/images/icons/document-currency-dollar.svg") };
  .icon-document-currency-euro { --svg: url("/images/icons/document-currency-euro.svg") };
  .icon-document-currency-pound { --svg: url("/images/icons/document-currency-pound.svg") };
  .icon-document-currency-rupee { --svg: url("/images/icons/document-currency-rupee.svg") };
  .icon-document-currency-yen { --svg: url("/images/icons/document-currency-yen.svg") };
  .icon-document-duplicate { --svg: url("/images/icons/document-duplicate.svg") };
  .icon-document-magnifying-glass { --svg: url("/images/icons/document-magnifying-glass.svg") };
  .icon-document-minus { --svg: url("/images/icons/document-minus.svg") };
  .icon-document-plus { --svg: url("/images/icons/document-plus.svg") };
  .icon-document-text { --svg: url("/images/icons/document-text.svg") };
  .icon-document { --svg: url("/images/icons/document.svg") };
  .icon-ellipsis-horizontal-circle { --svg: url("/images/icons/ellipsis-horizontal-circle.svg") };
  .icon-ellipsis-horizontal { --svg: url("/images/icons/ellipsis-horizontal.svg") };
  .icon-ellipsis-vertical { --svg: url("/images/icons/ellipsis-vertical.svg") };
  .icon-envelope-open { --svg: url("/images/icons/envelope-open.svg") };
  .icon-envelope { --svg: url("/images/icons/envelope.svg") };
  .icon-equals { --svg: url("/images/icons/equals.svg") };
  .icon-exclamation-circle { --svg: url("/images/icons/exclamation-circle.svg") };
  .icon-exclamation-triangle { --svg: url("/images/icons/exclamation-triangle.svg") };
  .icon-eye-dropper { --svg: url("/images/icons/eye-dropper.svg") };
  .icon-eye-slash { --svg: url("/images/icons/eye-slash.svg") };
  .icon-eye { --svg: url("/images/icons/eye.svg") };
  .icon-face-frown { --svg: url("/images/icons/face-frown.svg") };
  .icon-face-smile { --svg: url("/images/icons/face-smile.svg") };
  .icon-film { --svg: url("/images/icons/film.svg") };
  .icon-finger-print { --svg: url("/images/icons/finger-print.svg") };
  .icon-fire { --svg: url("/images/icons/fire.svg") };
  .icon-flag { --svg: url("/images/icons/flag.svg") };
  .icon-folder-arrow-down { --svg: url("/images/icons/folder-arrow-down.svg") };
  .icon-folder-minus { --svg: url("/images/icons/folder-minus.svg") };
  .icon-folder-open { --svg: url("/images/icons/folder-open.svg") };
  .icon-folder-plus { --svg: url("/images/icons/folder-plus.svg") };
  .icon-folder { --svg: url("/images/icons/folder.svg") };
  .icon-forward { --svg: url("/images/icons/forward.svg") };
  .icon-funnel { --svg: url("/images/icons/funnel.svg") };
  .icon-gif { --svg: url("/images/icons/gif.svg") };
  .icon-gift-top { --svg: url("/images/icons/gift-top.svg") };
  .icon-gift { --svg: url("/images/icons/gift.svg") };
  .icon-github { --svg: url("/images/icons/github.svg") };
  .icon-globe-alt { --svg: url("/images/icons/globe-alt.svg") };
  .icon-globe-americas { --svg: url("/images/icons/globe-americas.svg") };
  .icon-globe-asia-australia { --svg: url("/images/icons/globe-asia-australia.svg") };
  .icon-globe-europe-africa { --svg: url("/images/icons/globe-europe-africa.svg") };
  .icon-h1 { --svg: url("/images/icons/h1.svg") };
  .icon-h2 { --svg: url("/images/icons/h2.svg") };
  .icon-h3 { --svg: url("/images/icons/h3.svg") };
  .icon-hand-raised { --svg: url("/images/icons/hand-raised.svg") };
  .icon-hand-thumb-down { --svg: url("/images/icons/hand-thumb-down.svg") };
  .icon-hand-thumb-up { --svg: url("/images/icons/hand-thumb-up.svg") };
  .icon-hashtag { --svg: url("/images/icons/hashtag.svg") };
  .icon-heart { --svg: url("/images/icons/heart.svg") };
  .icon-home-modern { --svg: url("/images/icons/home-modern.svg") };
  .icon-home { --svg: url("/images/icons/home.svg") };
  .icon-identification { --svg: url("/images/icons/identification.svg") };
  .icon-inbox-arrow-down { --svg: url("/images/icons/inbox-arrow-down.svg") };
  .icon-inbox-stack { --svg: url("/images/icons/inbox-stack.svg") };
  .icon-inbox { --svg: url("/images/icons/inbox.svg") };
  .icon-information-circle { --svg: url("/images/icons/information-circle.svg") };
  .icon-italic { --svg: url("/images/icons/italic.svg") };
  .icon-key { --svg: url("/images/icons/key.svg") };
  .icon-language { --svg: url("/images/icons/language.svg") };
  .icon-lifebuoy { --svg: url("/images/icons/lifebuoy.svg") };
  .icon-light-bulb { --svg: url("/images/icons/light-bulb.svg") };
  .icon-link-slash { --svg: url("/images/icons/link-slash.svg") };
  .icon-link { --svg: url("/images/icons/link.svg") };
  .icon-list-bullet { --svg: url("/images/icons/list-bullet.svg") };
  .icon-lock-closed { --svg: url("/images/icons/lock-closed.svg") };
  .icon-lock-open { --svg: url("/images/icons/lock-open.svg") };
  .icon-magnifying-glass-circle { --svg: url("/images/icons/magnifying-glass-circle.svg") };
  .icon-magnifying-glass-minus { --svg: url("/images/icons/magnifying-glass-minus.svg") };
  .icon-magnifying-glass-plus { --svg: url("/images/icons/magnifying-glass-plus.svg") };
  .icon-magnifying-glass { --svg: url("/images/icons/magnifying-glass.svg") };
  .icon-map-pin { --svg: url("/images/icons/map-pin.svg") };
  .icon-map { --svg: url("/images/icons/map.svg") };
  .icon-megaphone { --svg: url("/images/icons/megaphone.svg") };
  .icon-microphone { --svg: url("/images/icons/microphone.svg") };
  .icon-minus-circle { --svg: url("/images/icons/minus-circle.svg") };
  .icon-minus-small { --svg: url("/images/icons/minus-small.svg") };
  .icon-minus { --svg: url("/images/icons/minus.svg") };
  .icon-moon { --svg: url("/images/icons/moon.svg") };
  .icon-musical-note { --svg: url("/images/icons/musical-note.svg") };
  .icon-newspaper { --svg: url("/images/icons/newspaper.svg") };
  .icon-no-symbol { --svg: url("/images/icons/no-symbol.svg") };
  .icon-numbered-list { --svg: url("/images/icons/numbered-list.svg") };
  .icon-paint-brush { --svg: url("/images/icons/paint-brush.svg") };
  .icon-paper-airplane { --svg: url("/images/icons/paper-airplane.svg") };
  .icon-paper-clip { --svg: url("/images/icons/paper-clip.svg") };
  .icon-pause-circle { --svg: url("/images/icons/pause-circle.svg") };
  .icon-pause { --svg: url("/images/icons/pause.svg") };
  .icon-pencil-square { --svg: url("/images/icons/pencil-square.svg") };
  .icon-pencil { --svg: url("/images/icons/pencil.svg") };
  .icon-percent-badge { --svg: url("/images/icons/percent-badge.svg") };
  .icon-phone-arrow-down-left { --svg: url("/images/icons/phone-arrow-down-left.svg") };
  .icon-phone-arrow-up-right { --svg: url("/images/icons/phone-arrow-up-right.svg") };
  .icon-phone-x-mark { --svg: url("/images/icons/phone-x-mark.svg") };
  .icon-phone { --svg: url("/images/icons/phone.svg") };
  .icon-photo { --svg: url("/images/icons/photo.svg") };
  .icon-play-circle { --svg: url("/images/icons/play-circle.svg") };
  .icon-play-pause { --svg: url("/images/icons/play-pause.svg") };
  .icon-play { --svg: url("/images/icons/play.svg") };
  .icon-plus-circle { --svg: url("/images/icons/plus-circle.svg") };
  .icon-plus-small { --svg: url("/images/icons/plus-small.svg") };
  .icon-plus { --svg: url("/images/icons/plus.svg") };
  .icon-power { --svg: url("/images/icons/power.svg") };
  .icon-presentation-chart-bar { --svg: url("/images/icons/presentation-chart-bar.svg") };
  .icon-presentation-chart-line { --svg: url("/images/icons/presentation-chart-line.svg") };
  .icon-printer { --svg: url("/images/icons/printer.svg") };
  .icon-puzzle-piece { --svg: url("/images/icons/puzzle-piece.svg") };
  .icon-qr-code { --svg: url("/images/icons/qr-code.svg") };
  .icon-question-mark-circle { --svg: url("/images/icons/question-mark-circle.svg") };
  .icon-queue-list { --svg: url("/images/icons/queue-list.svg") };
  .icon-radio { --svg: url("/images/icons/radio.svg") };
  .icon-receipt-percent { --svg: url("/images/icons/receipt-percent.svg") };
  .icon-receipt-refund { --svg: url("/images/icons/receipt-refund.svg") };
  .icon-rectangle-group { --svg: url("/images/icons/rectangle-group.svg") };
  .icon-rectangle-stack { --svg: url("/images/icons/rectangle-stack.svg") };
  .icon-rocket-launch { --svg: url("/images/icons/rocket-launch.svg") };
  .icon-rss { --svg: url("/images/icons/rss.svg") };
  .icon-scale { --svg: url("/images/icons/scale.svg") };
  .icon-scissors { --svg: url("/images/icons/scissors.svg") };
  .icon-server-stack { --svg: url("/images/icons/server-stack.svg") };
  .icon-server { --svg: url("/images/icons/server.svg") };
  .icon-share { --svg: url("/images/icons/share.svg") };
  .icon-shield-check { --svg: url("/images/icons/shield-check.svg") };
  .icon-shield-exclamation { --svg: url("/images/icons/shield-exclamation.svg") };
  .icon-shopping-bag { --svg: url("/images/icons/shopping-bag.svg") };
  .icon-shopping-cart { --svg: url("/images/icons/shopping-cart.svg") };
  .icon-signal-slash { --svg: url("/images/icons/signal-slash.svg") };
  .icon-signal { --svg: url("/images/icons/signal.svg") };
  .icon-slash { --svg: url("/images/icons/slash.svg") };
  .icon-sparkles { --svg: url("/images/icons/sparkles.svg") };
  .icon-speaker-wave { --svg: url("/images/icons/speaker-wave.svg") };
  .icon-speaker-x-mark { --svg: url("/images/icons/speaker-x-mark.svg") };
  .icon-spinner { --svg: url("/images/icons/spinner.svg") };
  .icon-square-2-stack { --svg: url("/images/icons/square-2-stack.svg") };
  .icon-square-3-stack-3d { --svg: url("/images/icons/square-3-stack-3d.svg") };
  .icon-squares-2x2 { --svg: url("/images/icons/squares-2x2.svg") };
  .icon-squares-plus { --svg: url("/images/icons/squares-plus.svg") };
  .icon-star { --svg: url("/images/icons/star.svg") };
  .icon-stop-circle { --svg: url("/images/icons/stop-circle.svg") };
  .icon-stop { --svg: url("/images/icons/stop.svg") };
  .icon-strikethrough { --svg: url("/images/icons/strikethrough.svg") };
  .icon-sun { --svg: url("/images/icons/sun.svg") };
  .icon-swatch { --svg: url("/images/icons/swatch.svg") };
  .icon-table-cells { --svg: url("/images/icons/table-cells.svg") };
  .icon-tag { --svg: url("/images/icons/tag.svg") };
  .icon-ticket { --svg: url("/images/icons/ticket.svg") };
  .icon-trash { --svg: url("/images/icons/trash.svg") };
  .icon-trophy { --svg: url("/images/icons/trophy.svg") };
  .icon-truck { --svg: url("/images/icons/truck.svg") };
  .icon-tv { --svg: url("/images/icons/tv.svg") };
  .icon-underline { --svg: url("/images/icons/underline.svg") };
  .icon-user-circle { --svg: url("/images/icons/user-circle.svg") };
  .icon-user-group { --svg: url("/images/icons/user-group.svg") };
  .icon-user-minus { --svg: url("/images/icons/user-minus.svg") };
  .icon-user-plus { --svg: url("/images/icons/user-plus.svg") };
  .icon-user { --svg: url("/images/icons/user.svg") };
  .icon-users { --svg: url("/images/icons/users.svg") };
  .icon-variable { --svg: url("/images/icons/variable.svg") };
  .icon-video-camera-slash { --svg: url("/images/icons/video-camera-slash.svg") };
  .icon-video-camera { --svg: url("/images/icons/video-camera.svg") };
  .icon-view-columns { --svg: url("/images/icons/view-columns.svg") };
  .icon-viewfinder-circle { --svg: url("/images/icons/viewfinder-circle.svg") };
  .icon-wallet { --svg: url("/images/icons/wallet.svg") };
  .icon-wifi { --svg: url("/images/icons/wifi.svg") };
  .icon-window { --svg: url("/images/icons/window.svg") };
  .icon-wrench-screwdriver { --svg: url("/images/icons/wrench-screwdriver.svg") };
  .icon-wrench { --svg: url("/images/icons/wrench.svg") };
  .icon-x-circle { --svg: url("/images/icons/x-circle.svg") };
  .icon-x-mark { --svg: url("/images/icons/x-mark.svg") };
}
